
.main{

Width: 200px;
Background-color: purple;

border-left:5px;
border-left-style:solid;
border-color: #00aa00;
Padding: 10px;
}

.heading{
Font-size: 20 px;
color: white;
text-decoration: underline;

}